<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--For scannner-->
    <add key="Enable" value="false"/>
    <add key="ScannerIP" value="192.168.100.100"/>
    <add key="ScannerPort" value="9004"/>
  </appSettings>
</configuration>